@font-face {
    font-family: 'redressedregular';
    src: url("../fonts/redressedregular/redressed.eot");
    src: url("../fonts/redressedregular/redressed.eot?#iefix") format('embedded-opentype'), url("../fonts/redressedregular/redressed.woff") format('woff'), url("../fonts/redressedregular/redressed.ttf") format('truetype'), url("../fonts/redressedregular/redressed.svg#apercu-regular") format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal
}

.reveal,
.slides,
.reveal p,
.slides p {
  text-align: left;
  font-family: 'Open Sans',sans-serif;
}

p.centered {
  text-align: center;
}

.reveal blockquote {
  width: 100%;
}
.reveal ol, .reveal dl, .reveal ul {
  display: block;
}

.reveal li {
  margin: 0.3em 0 0.3em 0;
}

.reveal abbr[title] {
    cursor: help;
    border-bottom: 0.1em dotted #555;
}

.reveal h1,
.reveal h2 {
    font-family: 'redressedregular', 'Open Sans', sans-serif;
    font-weight: 800;
    font-style: normal;
    text-transform: none;
}

.reveal h3 {
  text-transform: none;
  font-style: italic;
  font-size: 0.9em;
}

.reveal .info {
  display: inline;
  font-size: 0.7em;
}
