---
layout: microtypo
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <title>
      {% if page.title and page.cursus %}
        {{ page.title }} | {{ page.cursus.title }} | {{ site.title }}
      {% else %}
        {{ site.title }}
      {% endif %}
    </title>

    <meta name="author" content="{{ site.author }}" />

    <!-- Description -->
    {% if page.description %}
      <meta name="description" content="{{ page.description }}" />
    {% else %}
      <meta name="description" content="{{ site.description }}">
    {% endif %}

    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">

    <link rel="stylesheet" href="{{ "/assets/revealjs/css/reveal.css" | prepend: site.baseurl }}"/>
    <link rel="stylesheet" href="{{ "/assets/revealjs/css/theme/white.css" | prepend: site.baseurl }}" id="theme"/>
    <link rel="stylesheet" href="{{ "/assets/css/reveal.css" | prepend: site.baseurl }}"/>

    <!-- Code syntax highlighting -->
    <link rel="stylesheet" href="{{ "/assets/revealjs/lib/css/zenburn.css" | prepend: site.baseurl }}"/>

    <!-- Printing and PDF exports -->
    <script>
      var link = document.createElement( 'link' );
      link.rel = 'stylesheet';
      link.type = 'text/css';
      link.href = window.location.search.match( /print-pdf/gi )?'{{ "/assets/revealjs/css/print/pdf.css" | prepend: site.baseurl }}':'{{ "/assets/revealjs/css/print/paper.css" | prepend: site.baseurl }}';
      document.getElementsByTagName( 'head' )[0].appendChild( link );
    </script>

    <link rel="apple-touch-icon" href="{{ "/apple-touch-icon.png" | prepend: site.baseurl }}" />

    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    <!--[if lt IE 9]>
    <script src="lib/js/html5shiv.js"></script>
    <![endif]-->
  </head>

  <body>
    <noscript>
      <h1>{{ page.title }}</h1>
      <ul>
        {% assign the_slides= site.slides | where:"deck", page.deck %}

        {% assign the_first_slide = the_slides | first %}
        {% assign the_first_path_array = the_first_slide.path | split:"/" %}
        {% assign previous_depth = 3 %}
        {% assign previous_root = the_first_path_array[2] %}

        {% for slide in the_slides %}

          {% assign the_path_array = slide.path | split:"/" %}
          {% assign the_depth = the_path_array | size %}
          {% assign the_root = the_path_array[2] %}

          {% if the_root != previous_root %}
            {% assign previous_root = the_root %}
            </ul><ul>
          {% elsif the_depth > previous_depth %}
            {% assign previous_depth = depth %}
            <ul>
          {% elsif the_depth < previous_depth %}
            {% assign previous_depth = depth %}
            </ul>
          {% endif %}

          <li>
            <a href="{{ slide.url | prepend: site.baseurl }}">{{ slide.title }}</a>
          </li>
        {% endfor %}
      </ul>
    </noscript>
    <div class="reveal">
      <div class="slides">

        {% assign the_first_slide = the_slides | first %}
        {% assign the_first_path_array = the_first_slide.path | split:"/" %}
        {% assign previous_depth = 3 %}
        {% assign previous_root = the_first_path_array[2] %}

        {% for slide in the_slides %}

          {% assign the_path_array = slide.path | split:"/" %}
          {% assign the_depth = the_path_array | size %}
          {% assign the_root = the_path_array[2] %}

          {% if the_root != previous_root %}
            {% assign previous_root = the_root %}
            </section><section>
          {% elsif the_depth > previous_depth %}
            {% assign previous_depth = depth %}
            <section>
          {% elsif the_depth < previous_depth %}
            {% assign previous_depth = depth %}
            </section>
          {% endif %}

          {% include slide.html %}
				{% endfor %}
      </div>
    </div>

    <script src="{{ "/assets/revealjs/lib/js/head.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/assets/revealjs/js/reveal.js" | prepend: site.baseurl }}"></script>
    {% include analytics.html %}
    <script>
      // Full list of configuration options available at:
      // https://github.com/hakimel/reveal.js#configuration
      Reveal.initialize({
        slideNumber: true,
        history: true
      });

      Reveal.addEventListener( 'slidechanged', function( event ) {
        // event.previousSlide, event.currentSlide, event.indexh, event.indexv
        ga('send', 'event', 'Slide', 'click', event.currentSlide);
      } );

    </script>
  </body>
</html>
